.List {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 60px;
  grid-gap: 16px;
}
.List__item:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s;
}

.List__item {
  line-height: 60px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  list-style: none;
}

/* Taken from https://clrs.cc/ */

.List__item--navy {
  background-color: #001f3f;
}

.List__item--blue {
  background-color: #0074d9;
}

.List__item--aqua {
  background-color: #7fdbff;
}

.List__item--teal {
  background-color: #39cccc;
}

.List__item--olive {
  background-color: #3d9970;
}

.List__item--green {
  background-color: #2ecc40;
}

.List__item--lime {
  background-color: #01ff70;
}

.List__item--yellow {
  background-color: #ffdc00;
}

.List__item--orange {
  background-color: #ff851b;
}

.List__item--red {
  background-color: #ff4136;
}

.List__item--maroon {
  background-color: #85144b;
}

.List__item--fuchsia {
  background-color: #f012be;
}

.List__item--purple {
  background-color: #b10dc9;
}

.List__item--black {
  background-color: #111111;
}

.List__item--gray {
  background-color: #aaaaaa;
}

.List__item--silver {
  background-color: #dddddd;
}
.selected {
  line-height: 40px;
  text-align: center;
  border-radius: 8px;

  outline: 3px solid #fff;
  outline-offset: -3px;

  box-shadow:
    0 0 0 2px #001f3f,
    0 6px 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.03);
}
.selected-items-container {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 60px;
  grid-gap: 16px;
  padding: 16px;
  border-bottom: 2px solid black;
}
.selected-item {
  line-height: 40px;
  text-align: center;
  border-radius: 8px;

  outline: 3px solid #fff;
  outline-offset: -3px;

  box-shadow:
    0 0 0 2px #001f3f,
    0 6px 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.03);
}
.title-text{
  font-size: 2rem;
}